.App {
  text-align: left;
}

.App-header {
  background-color: #fcfcfd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(7, 7, 7);
}

.weather {
  width: 35%;
  border: 2px solid black;
  margin: 5px 0 5px 0;
  padding-left: 10px;
}

h4 {
  text-decoration: none;
  font-weight: normal;
}
